In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Load the dataset
file_path = 'data/data.csv'
df = pd.read_csv(file_path)

# Display first few rows
df.head()

,timestamp,equipment_energy_consumption,lighting_energy,zone1_temperature,zone1_humidity,zone2_temperature,zone2_humidity,zone3_temperature,zone3_humidity,zone4_temperature,...,zone9_temperature,zone9_humidity,outdoor_temperature,atmospheric_pressure,outdoor_humidity,wind_speed,visibility_index,dew_point,random_variable1,random_variable2
0,2016-01-11 17:00:00,60.0,-77.78778596503064,33.74660933896648,47.59666666666671,19.2,44.790000,19.79,NaN,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60.0,30.0,19.89,46.69333333333329,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50.0,30.0,19.89,46.3,19.2,44.626667,19.79,44.933333,35.921144,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50.0,40.0,33.74660933896648,46.0666666666667,19.2,44.590000,19.79,45.000000,NaN,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,37.673716,45.410389,45.410389
4,2016-01-11 17:40:00,60.0,40.0,19.89,46.33333333333329,19.2,44.530000,19.79,45.000000,18.890000,...,4.476511,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.900000,10.084097,10.084097

# Exploratory data analysis (EDA)

In [4]:
# Check shape of the dataset
print("Dataset Shape:", df.shape)

# Display data types and non-null counts
df.info()

# Basic statistics
df.describe().T

Dataset Shape: (16857, 29)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16857 entries, 0 to 16856
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   timestamp                     16857 non-null  object
 1   equipment_energy_consumption  16013 non-null  object
 2   lighting_energy               16048 non-null  object
 3   zone1_temperature             15990 non-null  object
 4   zone1_humidity                16056 non-null  object
 5   zone2_temperature             16004 non-null  object
 6   zone2_humidity                15990 non-null  float64
 7   zone3_temperature             16055 non-null  float64
 8   zone3_humidity                15979 non-null  float64
 9   zone4_temperature             16041 non-null  float64
 10  zone4_humidity                16076 non-null  float64
 11  zone5_temperature             16019 non-null  float64
 12  zone5_humidity                16056 non-null  float64
 13  zone6_temperature             16009 non-null  float64
 14  zone6_humidity                16010 non-null  float64
 15  zone7_temperature             16063 non-null  float64
 16  zone7_humidity                16052 non-null  float64
 17  zone8_temperature             16009 non-null  float64
 18  zone8_humidity                16080 non-null  float64
 19  zone9_temperature             16084 non-null  float64
 20  zone9_humidity                15969 non-null  float64
 21  outdoor_temperature           16051 non-null  float64
 22  atmospheric_pressure          16015 non-null  float64
 23  outdoor_humidity              16058 non-null  float64
 24  wind_speed                    16029 non-null  float64
 25  visibility_index              16042 non-null  float64
 26  dew_point                     16031 non-null  float64
 27  random_variable1              16031 non-null  float64
 28  random_variable2              16033 non-null  float64
dtypes: float64(23), object(6)
memory usage: 3.7+ MB

,count,mean,std,min,25%,50%,75%,max
zone2_humidity,15990.0,39.494553,10.129513,-77.265503,37.757500,40.293333,43.000000,77.265503
zone3_temperature,16055.0,21.665733,2.594309,6.543921,20.533333,21.767500,22.760000,36.823982
zone3_humidity,15979.0,38.201314,10.144388,-71.406273,36.592500,38.400000,41.433333,71.406273
zone4_temperature,16041.0,20.239922,2.783050,4.613485,19.266667,20.290000,21.356667,35.921144
zone4_humidity,16076.0,37.945608,10.769813,-81.446225,35.200000,38.090000,41.560833,81.446225
zone5_temperature,16019.0,19.052613,2.346158,5.921094,18.061111,19.050000,20.100000,32.157594
zone5_humidity,16056.0,50.289131,18.722516,-141.640143,45.290000,48.854429,53.918333,141.640143
zone6_temperature,16009.0,6.469934,8.867993,-42.987365,2.930000,6.263333,9.690000,55.932271
zone6_humidity,16010.0,59.162913,52.657787,-353.393026,37.066667,62.766667,86.590000,353.393026
zone7_temperature,16063.0,19.672472,2.879815,3.578021,18.500000,19.600000,21.000000,35.712952
zone7_humidity,16052.0,34.032621,11.345440,-84.882898,31.000000,34.230000,38.156667,84.882898
zone8_temperature,16009.0,21.606344,2.974989,4.502372,20.500000,21.790000,22.790000,38.626835
zone8_humidity,16080.0,41.853532,12.301530,-94.385668,38.626667,42.040455,46.003889,94.385668
zone9_temperature,16084.0,18.851085,2.528783,4.476511,17.890000,18.890000,20.200000,33.238012
zone9_humidity,15969.0,40.318199,11.168678,-81.582494,38.230000,40.363333,43.790000,81.582494
outdoor_temperature,16051.0,6.218582,7.554684,-37.524768,3.000000,6.000000,9.250000,49.853906
atmospheric_pressure,16015.0,755.757602,13.643585,678.159940,750.800000,756.200000,762.100000,833.392675
outdoor_humidity,16058.0,78.977595,28.565660,-221.668765,71.000000,84.166667,91.988095,221.668765
wind_speed,16029.0,4.195988,4.409729,-20.929527,2.000000,4.000000,6.000000,29.318719
visibility_index,16042.0,38.457150,21.318655,-82.329792,29.000000,40.000000,40.000000,159.606156
dew_point,16031.0,2.783507,6.094732,-32.098095,0.450000,2.750000,5.308333,37.673716
random_variable1,16031.0,24.854981,26.214960,-120.170177,12.179924,24.866978,37.950236,170.156325
random_variable2,16033.0,25.093780,25.523631,-120.409590,12.193789,24.834261,37.971764,170.329617

In [8]:
# Convert all object columns (except timestamp) to numeric
for col in df.columns:
    if df[col].dtype == 'object' and col != 'timestamp':
        df[col] = pd.to_numeric(df[col], errors='coerce')

In [9]:
df.duplicated().sum()

np.int64(68)

In [10]:
df = df.drop_duplicates()
print("After removing duplicates:", df.shape)

After removing duplicates: (16789, 29)

In [11]:
# Count missing values in each column
df.isnull().sum()

timestamp                         0
equipment_energy_consumption    909
lighting_energy                 861
zone1_temperature               944
zone1_humidity                  886
zone2_temperature               918
zone2_humidity                  863
zone3_temperature               798
zone3_humidity                  877
zone4_temperature               811
zone4_humidity                  775
zone5_temperature               832
zone5_humidity                  797
zone6_temperature               842
zone6_humidity                  841
zone7_temperature               787
zone7_humidity                  800
zone8_temperature               843
zone8_humidity                  776
zone9_temperature               771
zone9_humidity                  886
outdoor_temperature             802
atmospheric_pressure            841
outdoor_humidity                794
wind_speed                      822
visibility_index                809
dew_point                       823
random_variable1                824
random_variable2                823
dtype: int64

In [12]:
# Fill remaining missing values with column-wise mean
df.fillna(df.mean(numeric_only=True), inplace=True)

In [13]:
# Confirm no missing values remain
print(df.isnull().sum().sum())

0

In [14]:
df.head()

,timestamp,equipment_energy_consumption,lighting_energy,zone1_temperature,zone1_humidity,zone2_temperature,zone2_humidity,zone3_temperature,zone3_humidity,zone4_temperature,...,zone9_temperature,zone9_humidity,outdoor_temperature,atmospheric_pressure,outdoor_humidity,wind_speed,visibility_index,dew_point,random_variable1,random_variable2
0,2016-01-11 17:00:00,60.0,-77.787786,33.746609,47.596667,19.2,44.790000,19.79,38.197731,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60.0,30.000000,19.890000,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50.0,30.000000,19.890000,46.300000,19.2,44.626667,19.79,44.933333,35.921144,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50.0,40.000000,33.746609,46.066667,19.2,44.590000,19.79,45.000000,20.240384,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,37.673716,45.410389,45.410389
4,2016-01-11 17:40:00,60.0,40.000000,19.890000,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,4.476511,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.900000,10.084097,10.084097